@using TalentPool.Resumes
@inject IUserIdentifier UserIdentifier
@model TalentPool.Web.Models.ResumeViewModels.CreateOrEditResumeViewModel

@{ ViewData["PageHeader"] = "简历库管理";
    ViewData["Title"] = "编辑简历 - " + Model.Name; }

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form role="form" method="post" asp-action="Edit">
        <div class="card-body">
            <input type="hidden" class="form-control" asp-for="Id">
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ActiveDelivery">
                        <label asp-for="ActiveDelivery">主动投递</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>姓名</label>
                    <input type="text" class="form-control" placeholder="请输入姓名，例如：张三" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>职位</label>
                    <select class="form-control" asp-for="JobId" asp-items="Model.Jobs">
                        <option value="">=请选择职位=</option>
                    </select>
                    <span asp-validation-for="JobId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>手机号</label>
                    <input type="text" class="form-control" placeholder="请输入手机号" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>分机号</label>
                    <input type="text" class="form-control" placeholder="请输入分机号" asp-for="ExtensionNumber">
                    <span asp-validation-for="ExtensionNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>邮箱地址</label>
                    <input type="email" class="form-control" placeholder="请输入邮箱地址" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="form-group col-md-12">
                    <label>求职意向城市</label>
                    <input type="text" class="form-control" placeholder="请输入求职意向城市" asp-for="City">
                </div>
                <div class="form-group col-md-6">
                    <label>相似度结果</label>
                    <br />
                    @if (Model.ResumeCompares != null)
                    {
                        <div class="btn-group">
                            @foreach (var item in Model.ResumeCompares)
                            {
                                <a target="_blank" href="/Resume/View/@item.RelationResumeId" class="btn btn-dark btn-sm" style="background:rgb(255,0,0,@item.Similarity)!important">
                                    @if (string.IsNullOrEmpty(item.RelationResumeName))
                                    {
                                        <text>未知姓名</text>
                                    }
                                    else
                                    {
                                        @item.RelationResumeName
                                    }
                                    @(item.Similarity*100) %
                                </a>}
                        </div>}
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check" style="padding-left:0;">
                        <input type="checkbox" asp-for="IgnoreSimilarity" />
                        <label asp-for="IgnoreSimilarity">忽略相似简历</label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>简历内容</label>
                    <textarea type="text" class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label>简历去重关键词<small>（该项用于检测简历相似度，内容为简历内容中自动提取的公司名称，如果提取失败则可以手动输入，每个公司名称请用空格隔开）</small></label>
                    <input class="form-control" asp-for="Keywords" />
                </div>
                <div class="form-group col-md-6">
                    <label>所属招聘平台</label>
                    <select class="form-control" asp-for="PlatformName" asp-items="Model.Platforms">
                        <option value="">=请选择招聘平台=</option>
                    </select>
                    <input type="hidden" value="" name="PlatformName">
                    <span asp-validation-for="PlatformName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>所属招聘平台ID</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="PlatformId" placeholder="请输入ID">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-default" title="复制平台ID" data-toggle="tooltip" data-placement="top" onclick="onCopy(this,'@Model.PlatformId')">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                    </div>

                    <span asp-validation-for="PlatformId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">提交</button>
            @if (Model.Enable && Model.AuditStatus == AuditStatus.NoStart && Model.OwnerUserId == UserIdentifier.UserId)
            {
                <a href="/Resume/Delete/@Model.Id" class="btn btn-danger">删除简历</a>
            }
            <a href="/Resume/List" class="btn btn-default">返回简历列表</a>
        </div>
    </form>
</div>

@section styles {
    <link href="~/lib/summernote/summernote-bs4.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/summernote/lang/summernote-zh-CN.min.js"></script>
    <script>
        $("textarea[name='Description']").summernote({
            lang: 'zh-CN',
            fontsize: '16',
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                ['view', ['fullscreen', 'codeview']]
            ],
            callbacks: {
                onChange: function (content, $editable) {
                    // 查找公司
                    content = content.replace(/<[^>]*?>/g, " ");
                    var regex = new RegExp(/(?<=(&nbsp;|公司名称：|\s))([a-zA-Z\u4e00-\u9fa5（）\(\)]{4,}公司{1}|[a-zA-Z0-9\u4e00-\u9fa5（）\(\)]{2,}集团{1})([a-zA-Z0-9\u4e00-\u9fa5（）\(\)]*)(?=\s|&nbsp;)/, 'g');
                    var matches = content.match(regex);
                    if (matches) {
                        var message = [];
                        for (var i = 0; i < matches.length; i++) {
                            if (message.indexOf(matches[i]) > -1)
                                continue;
                            message.push(matches[i]);
                        }
                        $("input[name='Keywords']").val(message.join(' '));
                    } else {
                        console.info("未提取到公司。");
                    }


                    content = content.replace("&nbsp;", "\t");
                     // 姓名
                    var name = /(?<= 姓(.*)名(:|：)?)\s*[\u4e00-\u9fa5]*\s/.exec(content);
                    if (name)
                        $("input[name='Name']").val(name[0].trim(' '));
                    // 手机号码
                    var phoneNumber = /1\d{10}/.exec(content);
                    if (phoneNumber)
                        $("input[name='PhoneNumber']").val(phoneNumber[0].trim(' '));
                    // 分机号
                    var extensionNumber = /(?<= 分机号|转)\d*/.exec(content);
                    if (extensionNumber)
                        $("input[name='ExtensionNumber']").val(extensionNumber[0].trim(' '));

                    // 邮箱
                    var email = /\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/.exec(content);
                    if (email)
                        $("input[name='Email']").val(email[0].trim(' '));
                }

            }
        });

    </script>
}
